@import "utils/reset.scss";

body {
    background:#111111;
    color: #FFFFFF;
    overflow: hidden;
    font-family: Helvetica, Arial, sans-serif;
}

#appSections {
    position:absolute;
    width:100%;
    height:100%;
}

    section {
        position:absolute;
        overflow:hidden;
        width:100%;
        height:100%;
    }

        .default-text-container {
            position: absolute;
            font-size: 33px;
            bottom: 20px;
            right: 20px;
            text-align: right;
        }


@import 'sections/home';
@import 'sections/projects';
@import 'sections/contact';

@import 'ui/menu';
@import 'ui/preloader';
@import 'ui/404';